<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BrowseServlet</servlet-name>
        <servlet-class>BrowseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrowseServlet</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RoundTripSearchServlet</servlet-name>
        <servlet-class>RoundTripSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoundTripSearchServlet</servlet-name>
        <url-pattern>/roundtripSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompleteReservationServlet</servlet-name>
        <servlet-class>CompleteReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompleteReservationServlet</servlet-name>
        <url-pattern>/completeReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompleteRoundTripReservationServlet</servlet-name>
        <servlet-class>CompleteRoundTripReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompleteRoundTripReservationServlet</servlet-name>
        <url-pattern>/completeRoundTripReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageReservationsServlet</servlet-name>
        <servlet-class>ManageReservationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageReservationsServlet</servlet-name>
        <url-pattern>/ManageReservations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelReservationServlet</servlet-name>
        <servlet-class>CancelReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelReservationServlet</servlet-name>
        <url-pattern>/CancelReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewReservationDetailsServlet</servlet-name>
        <servlet-class>ViewReservationDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReservationDetailsServlet</servlet-name>
        <url-pattern>/ViewReservationDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin-dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SalesReportServlet</servlet-name>
        <servlet-class>SalesReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalesReportServlet</servlet-name>
        <url-pattern>/salesreport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilterReservationsServlet</servlet-name>
        <servlet-class>FilterReservationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterReservationsServlet</servlet-name>
        <url-pattern>/filterreservation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RevenueServlet</servlet-name>
        <servlet-class>RevenueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RevenueServlet</servlet-name>
        <url-pattern>/RevenueServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservationData</servlet-name>
        <servlet-class>ReservationData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationData</servlet-name>
        <url-pattern>/reservationdata</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListQuestionsServlet</servlet-name>
        <servlet-class>ListQuestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListQuestionsServlet</servlet-name>
        <url-pattern>/ListQuestionsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAnswersServlet</servlet-name>
        <servlet-class>ViewAnswersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAnswersServlet</servlet-name>
        <url-pattern>/ViewAnswersServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitQuestionServlet</servlet-name>
        <servlet-class>SubmitQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitQuestionServlet</servlet-name>
        <url-pattern>/SubmitQuestionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>


</web-app>
